doctype html
html(lang='en')
	include ../../templates/head.pug
	body.white
		header#header
			a#logo(href='/') Maria Michelsen
			nav.navigation
				a(href='/#about') About
				a(href='/#portfolio') Portfolio
				a(href='/#contact') Contact
		section#project
			section.title.flex
				#meddle.description
					h1 Meddle
					p Outsourcing swiping to relieve dating fatigue
			.picture
				img(src='/images/Meddle/coverWide.svg')
			section.section
				h2 Project
				h3 The Product
				p
					| Meddle is an innovative dating app that empowers daters by letting their friends swipe for them.
				p The products key values as defined by the client are:
				ul
					li Approachable
					li Trustworthy
					li Fun
				h3 The Project Scope
				p
					| Rebranding of the product including new logo, new color palette and new visual design for the app.
			section.feature.flex
				h2 My Role
				ul
					li
						b Branding
					li
						b Visual Design
					li
						b Animation
			section.section
				h2 The Logo Development
				h3 Puting the Original Logo to the Test
				.picture.w50
					img(src='/images/Meddle/OldLogo.svg')
				p.top
					| The old logo mark was based on the metaphor of a ferris wheel. The client wanted to keep this metaphor. However, user tests showed that no user's identified the logo as one representing a dating app and that most thought it was a logo for an institution or corporation like a bank or insurance company.
				h3 Mark Development
				p
					| In the final design of the logo mark, I incorporated a heart into the mark to make it more dating app appropriate while still maintaining the original ferris wheel metaphore. I used more rounded shapes to remove the corporate feel from it. In addition, I added a subtle shadow effect, which represents the daters support network that "has their back."
				.picture
					img(src='/images/Meddle/Artboard3.png', srcset='/images/Meddle/Artboard3.png 1x, /images/Meddle/Artboard3@0.5x.png 0.5x, /images/Meddle/Artboard3@2x.png 2x ', alt=' ', height='auto', width='auto')
				p
					| User tests showed that the redesign had been succesful with 75% more potential customers guessed that it would be the logo mark for a dating app.
				h3 The New Logo
				p
					| Apart from the new logo mark the original text mark was gently adjusted to make it more harmonious and to make it fit with the new mark.
				.picture
					img(src='/images/Meddle/Artboard5.png', srcset='/images/Meddle/Artboard5.png 1x, /images/Meddle/Artboard5@0.5x.png 0.5x, /images/Meddle/Artboard5@2x.png 2x ', alt=' ', height='auto', width='auto')
				h2 Typography
				.flex
					div
						p
							| The client used Avenir Next in their original design. After my priliminary research, I decided to keep this font since the alternative fonts wouldn't bring enough benefits to the brand to justify making the client invest in another font.
					.picture
						img(src='/images/Meddle/Artboard4.png', srcset='/images/Meddle/Artboard4.png 1x, /images/Meddle/Artboard4@0.5x.png 0.5x, /images/Meddle/Artboard4@2x.png 2x ', alt=' ', height='auto', width='auto')
				h2 Color Palette
				h3 Puting the Original Color Palette to the Test
				.flex
					div
						p
							| While testing the original color palette on the target audience, I heard feedback very similar to what I had found while testing the logo mark. The colors didn't appeal to the target audience primarily because they felt corporate and more suitable for something like a bank.
						p
							| The way the color palette was implemented led to a very dark and subdued look, which matched poorly with two of the three products core values: approacable and fun. It did function to establish a sense of trustworthiness, which was the final product core value.
					.picture
						img(src='/images/Meddle/OldColor.svg', height='400')
				h3 Developing a New Palette
				p
					| For the new color palette it was important to change it so it would match all the products core values as well as to make it more appealing to the target audience.
				.picture
					img(src='/images/Meddle/ColorExp.jpg', srcset='/images/Meddle/ColorExp.jpg 1x, /images/Meddle/ColorExp@0.5x.jpg 0.5x, /images/Meddle/ColorExp@2x.jpg 2x ', alt=' ', height='auto', width='auto')
				p
					| Multiple color palettes were developed and tested out on the target audience until I found the one that fulfilled the requirements. At an early stage the use of purple seemed like a good choice since it would help the brand stand out more compared to the competition. However, this proved that this color didn't speak to the target audience and only green did worse in our user tests.
				p
					| Blue with a orange contrast color was the color combination that did best in tests. The blue color was, however, very close to a competitors which could lead to issues. In the final color palette, as seen below, the primary color chosen was turquoise. In my test it did as well as the blue color with the male target audience and 46% better than the blue with the female target audience.
				.picture
					img(src='/images/Meddle/Artboard6.png', srcset='/images/Meddle/Artboard6.png 1x, /images/Meddle/Artboard6@0.5x.png 0.5x, /images/Meddle/Artboard6@2x.png 2x ', alt=' ', height='auto', width='auto')
				p
					| The turquois color is used to represent the dater in the design while the contrasting amber color is used to represent the meddler. This creates a color link between the two kinds of users that makes it easier for each to recognize what is relevant to their specific role.
				p
					| The dark turquoise is, as like the lighter version, associated with the dater role in the design system. It is used to create a more subdued look, when the light turquoise can appear to overpowering. The black onyx color is used for text and appears less harsh on the eye than a pure black, which makes the app appear more appealing. The same applies to the slightly rose-tinted quartz color which are used for large light surfaces where a pure white will look too sharp. Use of pure white will also pop more when seen on top of this background color.
				h2 Putting the Visual Design to Use
				h3 The Final Logo
				p The final logo with the new color palette.
				.picture
					img(src='/images/Meddle/Artboard7.png', srcset='/images/Meddle/Artboard7.png 1x, /images/Meddle/Artboard7@0.5x.png 0.5x, /images/Meddle/Artboard7@2x.png 2x ', alt=' ', height='auto', width='auto')
				h3 Responsive Logo
				p
					| The new logo was designed with responsive use in mind where the logo is gradually simplified in smaller sizes until the point where only the flat logo mark is used.
				.picture
					img(src='/images/Meddle/Artboard8.png', srcset='/images/Meddle/Artboard8.png 1x, /images/Meddle/Artboard8@0.5x.png 0.5x, /images/Meddle/Artboard8@2x.png 2x ', alt=' ', height='auto', width='auto')
				h3 Vertical Logo Version
				p
					| An alternative vertical version of the logo was created to ensure flexibility in the logo system.
				.picture
					img(src='/images/Meddle/Artboard9.png', srcset='/images/Meddle/Artboard9.png 1x, /images/Meddle/Artboard9@0.5x.png 0.5x, /images/Meddle/Artboard9@2x.png 2x ', alt=' ', height='auto', width='auto')
				h3 App Icon and Visual App Design
				p
					| Using the logo mark, I designed a simple and clean app icon that "pops" when seen on a screen filled with other app icons. I used the new color palette to change the appearance of the app to make it feel lighter and more appealing.
				.picture
					img(src='/images/Meddle/Artboard11.png', srcset='/images/Meddle/Artboard11.png 1x, /images/Meddle/Artboard11@0.5x.png 0.5x, /images/Meddle/Artboard11@2x.png 2x ', alt=' ', height='auto', width='auto')
				h3 Something Extra – The Module Set
				p
					| The client had requested something that would make their brand stand out from other dating apps. To reach this goal I designed a flat design character set. It was delivered as a module set, which makes it easy for other designer to create custom characters while maintaining the overall look.
				.picture
					img(src='/images/Meddle/Artboard10.png', srcset='/images/Meddle/Artboard10.png 1x, /images/Meddle/Artboard10@0.5x.png 0.5x, /images/Meddle/Artboard10@2x.png 2x ', alt=' ', height='auto', width='auto')
				h3 Commercial
				p
					| I used the character set to develop an ad campaign which included delivering both digital and physical cards as well as an animated video ad.
				h4 Digital and Physical Card
				.picture
					img(src='/images/Meddle/Artboard12.png', srcset='/images/Meddle/Artboard12.png 1x, /images/Meddle/Artboard12@0.5x.png 0.5x, /images/Meddle/Artboard12@2x.png 2x ', alt=' ', height='auto', width='auto')
				p
					| The cards were posted on social media channels like Instagram and Facebook. Physical cards were also printed and distributed using guerrilla marketing in Seattle and San Francisco.
				h4 Frame-by-Frame Animated Video
				.section
					video(controls='')
						source(src='/images/Meddle/MeddleVideo.mp4', type='video/mp4')
						|                         Your browser does not support the video tag.
			#projectNav.section.flex
				nav
					a(href='/portfolio/microsun') < Prev
				nav.right-align
					a(href='/#portfolio') Back to Portfolio
			footer#footer.flex
				p.info © Maria Hagsten Michelsen, 2018. All Rights Reserved.
				a(href=' ')
					p.info.right-align Top
