doctype html
html(lang='en')
	include ../../templates/head.pug
	body.white
		section#project
			picture
				img(src='/images/Meddle/Meddle_rebranding_cover.jpg', height='auto', width='auto')
			section.section.title
				#meddle.description
					h1 Matching a Dating App with its Target Audience
					p.subtitle – a case study about the rebranding of Meddle
			section.section
				h2.h2part Prologue
				p Laura is a 28-year-old high school teacher living in Seattle. She just came back from a disappointing date and is wondering if she will ever find someone right for her. Curled up on the couch, she absentmindedly scrolls along on Facebook. She is still preoccupied with thoughts about her dating life and ponders “If only I could get some help!”
				p Ironically enough she just missed an ad for a new dating app, which would have let her outsource the task of picking dates to her friends. If she had noticed it, she would have said: “Wow, this is perfect.” But she missed it completely.
				p Why?
				p In 2017, I was hired to find out and this is the story about the rebranding of Meddle.
			section.section
				h2.h2part Part 1 • Understanding the Problem
				p There I was, facing the big question mark. On the left, I have an app that lets daters outsource the task of matchmaking to their friends. On the right, I have a group of daters, who are suffering from dating fatigue and wish they could get help. It should be an ideal match. So why does the product not match with its target audience? I jumped into the investigation following these steps:
				ul
					li <b>Interview the Stakeholders</b> to understand the thoughts behind the product, the decisions behind the brand, and their definition of the target audience.
					li <b>Define a hypothesis</b> for why the brand isn’t speaking to the target audience.
					li <b>Test the hypothesis on potential users</b> to understand why the brand fails to relate to the target audience.
				h3 1.1 Interviewing the stakeholders
				.picture
					img(src='/images/Meddle/Meddle_rebranding_product_vision_vs_brand.jpg', height='auto', width='auto')
					figcaption Notes from stakeholder interview and the current brand assets				
				p From interviewing the stakeholders I learned the following key findings:
				p <b>Target audience.</b> One of the things that makes Meddle special is that it has two user focuses: daters and meddlers. I asked them to split their audience groups into primary, secondary and tertiary to create more focus. I then used a Venn diagram to get a clearer picture of the commonalities and differences.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_target_audience_venn_diagram.png', height='auto', width='auto')
					figcaption Venn diagram used to define the target audience				
				p Additional factors could be taken into account like income level, living conditions, city vs. countryside, etc. but I needed to ensure that it would be possible to conduct interviews within the time and budget constraints.
				p <b>Logo Origin.</b> I learned that the brand was based on a metaphor of a Ferris wheel. Its origin came from personal experience, but it had since morphed into a vision of a dater on the ride with their meddlers. It’s a metaphor about being together in a fun, supportive and safe environment.
				p <b>Core Values.</b> I asked the stakeholders to come up with three words that defined what they wanted their brand to embody. They came back with: Approachable, Fun, and Trustworthy.
				h3 1.2 The hypothesis
				p The founder told me that initial research had shown that in general people didn’t find dating apps trustworthy. Therefore, Meddle had emphasized this value in their brand development. My hypothesis at this point was that it was this decision that har resulted in a brand that didn’t attract the right audience. By focusing on creating a trustworthy appearance they might have removed the brand to far away from anything dating app related.
				p However, before I could start rebranding, I would have to put my hypothesis to the test.
				h3 1.3 Testing the hypothesis on potential users
				p To better understand how the brand was perceived, I talked to 32 potential users. I selected people who fitted with the target audience without having prior knowledge of the product.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_test_participants_round1.png', height='auto', width='auto')
					figcaption The mix of test participants in the first round of interviews
				p As part of the inquiry, I asked the participants to report what they noticed, thought and felt while looking at the following test artifacts: the logo, the landing page, a social media brand stream, and the app. I also asked them to judge how much each artifact fitted with the product’s core values. In all artifacts, I had replaced the text with “lorem ipsum” to hide the purpose of the product.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_research_artifacts_round1.jpg', height='auto', width='auto')
					figcaption Artifacts used in the first round of target audience research
				p A clear picture emerged. Not a single respondent connected the logo or the landing page with a dating app. Most guessed it was something related to an institution or corporation like a bank or an insurance company. After seeing the app, more than half thought it was a professional networking app and only 47% said it was a dating app.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_User_Research_round1.png', height='auto', width='auto')
					figcaption The test results from the first round of target audience research				
				p With regard to the brand's core values, "trustworthy" was indeed scoring high on the logo and the landing page, while decreasing on social media and the app itself. Almost all participants acknowledged that the company's core values were what they wanted of a dating app, but only very few people found that the app itself embodied any of the core values. Only 4% would have ended up downloading the app even though most of them said they really loved the idea. They liked the concept, but the product just didn't match.
				p The primary issues were:
				ol
					li The looks of the logo, which is too sharp, geometric and corporate.
					li The color palette, which looks too corporate and dull.
					li Image style. This issue was noted by 16 participants who in different ways pointed out that the use of stock photos made the social media post and the landing page look too mainstream and “template-like.”
				p Based on the data, I decided that the hypothesis was correct and that the rebranding should focus on making the brand look less corporate and more fun.
			section.section
				h2.h2part Part 2 • From Exploration to Rebranding
				h3 2.1 Color palette Explorations
				p The way the color palette was implemented led to a very dark and subdued look, which created the corporate association. To make the new color palette match the target audience's expectations, I 	focused on:
				ol
					li be more dating app appropriate,
					li match all the product’s core values,
					li appeal to the target audience.
				p I developed multiple color palette explorations and tested them in small target audience groups looking for the one palette that fulfilled all the requirements.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_color_palette_explorations.jpg', height='auto', width='auto')
					figcaption Color palette explorations
				p <b>The biggest surprise.</b> At an early stage, the use of purple or pink seemed like good choices to help the brand stand out compared to the competition. However, user tests revealed that those colors didn’t speak to the target audience. Pink spoke more to women than men, but in general, it scored very low in all audience groups. Purple did even worse, only scoring higher than green.
				p <b>Finding the final palette.</b> Blue with an orange contrast color was the color combination that did best in tests. However, both of the blue colors that were tested, were deemed too close to competitors. In the final color palette, as seen below, I went with a turquoise primary color. It did as well as the blue color with the male target audience and 26% better than the blue with the female target groups.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_colors.png', height='auto', width='auto')
					figcaption Final color palette
				h3 2.2 Logo transformation
				p Since the Ferris wheel was a core metaphor in the product’s history, I decided that it was important to strive to maintain it to some extent. After exploring multiple logo solutions I ended up choosing to reshape the old logo.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_logo_transformation_animation.gif', height='auto', width='auto')
					figcaption The logo transformation
				p In the final design of the logo mark, I used more rounded and organic shapes to make it feel less corporate. Furthermore, I incorporated a negative heart shape into the mark to make it subtly indicate a “dating app.” In addition, I added an amber depth effect, which represents the meddlers that “has the dater’s back.”
				p Apart from the new logo mark, the original text mark was gently adjusted to make it more harmonious and to make it fit with the new mark.
				p A comparative user test (more about this later) showed that the redesign increased the correct product association from 0% to 68%, with 22 potential users guessing that it would be the logo mark for a dating app.
				h3 2.3 Typography
				p Meddle used Avenir Next in its original brand. After some preliminary explorations, I decided to keep the font. My reasoning was that switching wouldn’t add enough value to outway the effort and cost of the change.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_typography.png', height='auto', width='auto')
				h3 2.4 UI design changes
				p I designed a simple and clean app icon that “pops” when seen on a screen filled with other app icons. I used the new color palette to change the appearance of the app to make it feel brighter, simpler, and more approachable.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_UI_design_changes.jpg', height='auto', width='auto')
					figcaption A comparison between the old and the new UI design
				h3 2.5 Adding something extra
				p During the interviews, multiple participants had mentioned that the use of stock photos made the brand look mainstream and “template-like.” This was a big concern for the stakeholders, who requested something that would make it stand out more. I, therefore, decided to introduce the use of an illustrative style instead.
				p I did multiple explorations to find a style that both fitted the brand, the target audience, and the stakeholders. In the end, the style chosen was a whimsical character that looked both approachable, fun, and trustworthy.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_illustration_character_explorations.png', height='auto', width='auto')
					figcaption Exploration of illustration and character style
				p To make illustration creation easy and quick, I created a module set of characters. Creating illustrations became more like playing with Lego or old school paper dolls.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_illustration_character_module_set.png', height='auto', width='auto')
					figcaption Parts of the character modular system
			section.section
				h2.h2part Part 3 • Retesting the Redesign
				h3 3.1 Conducting a comparative test
				p Now came the big moment. It was time to test if the redesign had made the app a better match for its potential users. To do so, I talked to another 32 daters and meddlers showing them the new set of "lorem ipsum" artifacts.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_test_participants_round2.png', height='auto', width='auto')
					figcaption The mix of test participants in the second round of interviews
				p It was hard to get the same mix of participants and other demographic differences would play a part in the finding, which should be taken into account when viewing the data. As in the previous test, I conducted it using artifacts with “lorem ipsum.”
				.picture
					img(src='/images/Meddle/Meddle_rebranding_research_artifacts_round2.jpg', height='auto', width='auto')
					figcaption Artifacts used in the second round of target audience research				
				h3 3.2 Results
				p The test revealed an improvement on all fronts. Especially the alterations to the logo had changed how the target audience perceived it. The percentage of participants who associated it with a dating app increased from 0% to 68%. 
				p Another big change was that now more than twice the number of participants related the app to the core values. Furthermore, the percentage of potential users who would use the app grew from 4% to 61%!
				.picture
					img(src='/images/Meddle/Meddle_rebranding_User_Research_round2.png', height='auto', width='auto')
					figcaption The test results from the second round interviews as compared to the first round.
				p It was a celebratory moment and it was a joy to hear how excited many of the participants were about getting to use the product. My favorite moment was when one of the daters spontaneously started jotting down the names of all the friends she wanted to invite to meddle for her.
				p But, celebration aside, there is still room for improvement, especially on the landing page and the app itself. Plus the new illustration style received mixed reviews. 20% liked them, while 18% disliked them, leaving 62% undecided or indifferent. This was a great concern and lead to the decision to not use the illustrations as much as planned. After all, it is easier to use stock photos in the long run for most purposes. However, overall it was a satisfactory change achieved within the given time.
				h3 3.3 What I’ve learned
				p The redesign was a fun and inspiring challenge that tought me a lot. Here are some of my main takeaways:
				ul
					li That overly focusing on one core value can askew a brand (which makes me wonder how my focus might have skewed the new brand).
					li That I used a lot more time in arranging and handling the target audience tests than I had anticipated, which led to less time to do the redesign itself.
					li How many people disliked purple and pink.
					li That adding a custom illustration style seemed to add little value. Though it is plausible that a different illustration style could have given a different result.
					li That I used to much time creating a module set for the illustrations without first testing the value of it (though it did teach me a lot about using symbols in Adobe Illustrator).
				p So, in the end, Meddle did end up with a brand that matched better with its users. And even if they didn't end up with a new illustration style, the whimsical characters got a second chance this year when Meddle wanted to make a "splash." For that purpose I created this frame-by-frame animation using the paper doll playset:
				video.top(controls='')
					source(src='/images/Meddle/Meddle_Video_Magpie_v1-0-1.mp4', type='video/mp4')
					|                         Your browser does not support the video tag.
			section.section
				h2.h2part Epilogue
				p One day Laura was exploring her Facebook stream when she stumbled upon an ad for Meddle. “Do you suffer from Dating Fatigue?” it asked her. “Yes, I do,” she moaned thinking back on her last swiping nightmare. Intrigued she followed the link to learn more.
				p Hence she found Meddle, which fitted her needs to a T. She outsourced her swiping to her closest friends and excitedly they jumped on the chance to meddle for her. Soon after, suggested dates started to roll in. Between them was Joseph, who got a thumbs up from all her friends. Laura trusted her friends and gave it a try. And Joseph turned out to be the perfect fit.
				.picture
					img(src='/images/Meddle/Meddle_rebranding_epilogue.jpg', height='auto', width='auto')
			section.feature.flex
				picture.left
					img.clip(src='/images/Meddle/Peter_Leonard.jpeg') 
				blockquote.quote
					p
						| &quot;It's been a pleasure to work with Maria. She's a great listener, who made sure to understand my company's values and goals before producing any visuals. <br/><br/>Then she managed to capture the look and feel we're going for through the characters and video she created for us. She's a lot of fun to collaborate with, always coming up with great ideas when we're stuck creatively.&quot;
					p.source
						| Peter Leonard<br/>CEO, Meddle			
			#projectNav.section.flex
				nav
					a(href='/portfolio/bloom') ← Prev Case Study
				nav.right-align
					a(href='/#portfolio') Back to Portfolio
	include ../../templates/footer.pug
