$font-primary: "Open Sans",Helvetica, sans-serif;
$font-secondary: Lato, Helvetica, sans-serif;
$font-accent: Amiko, Helvetica, sans-serif;
$licorice: #0D0000;
$snow: #FFFCF7;
$sunshine: #ffb526;
$faded: #958F8C;
$space-reg: 100px;