doctype html
html(lang='en')
    section#contact
        ul
            li
                a.CTA_medium(href='https://www.dropbox.com/s/srfwb05dwu28aqy/MHM_Resume_CV.pdf?dl=0', target=' ') Resume
            li
                a.CTA_medium(href='https://linkedin.com/in/mhmichelsen/', target=' ') LinkedIn            
            li
                a.CTA_medium(href='https://behance.net/mhmichelsen', target=' ') Behance
            li
                a.CTA_medium(href='https://dribbble.com/mhmichelsen', target=' ') Dribbble
            li
                a.CTA_medium(href='https://instagram.com/mhmichelsen', target=' ') Instagram
    footer#footer.flex-auto
        p.info © Maria Hagsten Michelsen, 2019. All Rights Reserved.
        a(href=' ')
            p.CTA_low.right-align Go to top ↑