doctype html
html(lang='en')
    section#contact
        ul
            li
                a.CTA_medium(href='https://linkedin.com/in/mhmichelsen/', target=' ') LinkedIn            
            li
                a.CTA_medium(href='https://behance.net/mhmichelsen', target=' ') Behance
            li
                a.CTA_medium(href='https://dribbble.com/mariahagsten', target=' ') Dribbble
            li
                a.CTA_medium(href='https://www.instagram.com/mariahagsten/', target=' ') Instagram
    footer#footer.flex-auto
        p.info © Maria Hagsten Michelsen, 2019. All Rights Reserved.
        a(href=' ')
            p.CTA_low.right-align Go to top ↑