head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# : http://ogp.me/ns/fb/#")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover')
    link(rel='shortcut icon', type='image/x-icon', href='/static/images/favicon.ico')
    title Maria Michelsen
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111088895-4')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.9/lottie.min.js')
    script(src='/static/main.js')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-111088895-4');
    html(lang='en')
        header#header
            a.CTA_medium(href='/') Maria H.M.</sup>
            nav.navigation
                a.CTA_low(href='/../#portfolio') Work
                a.CTA_low(href='/../about') About
