head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover')
    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
    title Maria Michelsen
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111088895-4')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-111088895-4');
    html(lang='en')
        header#header
            //- a#logo(href='/') <img src="/images/M.svg" class="Mlogo"> <sup>aria H.</sup>
            a.CTA_medium(href='/') Maria H. M.</sup>
            nav.navigation
                a.CTA_low(href='/../#portfolio') Work
                a.CTA_low(href='/../about') About
                //- a.CTA_medium(href='../../#contact') Contact        

