doctype html
html(lang='en')
	include ../../templates/head.pug
	body.white
		header#header
			a#logo(href='/') Maria Michelsen
			nav.navigation
				a(href='/#about') About
				a(href='/#portfolio') Portfolio
				a(href='/#contact') Contact
		section#project
			section.title.flex
				#microsun.description
					h1 Microsun
					p Battle winter depression from your pocket
			.picture
				img(src='/images/MicroSunApp/coverWide.png', srcset='/images/MicroSunApp/coverWide.png 1x, /images/MicroSunApp/coverWide@0.5x.png 0.5x, /images/MicroSunApp/coverWide@2x.png 2x ', alt='Moodboard', height='auto', width='auto')
			section.section
				h2 The Objective
				p The project challenge as given by the customer SunInc
				.picture
					img(src='/images/MicroSunApp/MicroSun_App4.jpg', srcset='/images/MicroSunApp/MicroSun_App4.jpg 1x, /images/MicroSunApp/MicroSun_App4@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App4@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
			section.feature.flex
				h2 My Role
				ul
					li
						b App Design
					li
						b UI/UX Design
					li
						b Visual Design
					li
						b User Research
			section.section
				h2 The MicroSun Companion App Design
				p
					| The final MicroSun companion app, designed to be easy to use and motivational. You can read more about the process that lead to this product design 
					a(href='#process') below
					| .
				h3 Sign in Flow
				.picture
					img(src='/images/MicroSunApp/MicroSun_App14.jpg', srcset='/images/MicroSunApp/MicroSun_App14.jpg 1x, /images/MicroSunApp/MicroSun_App14@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App14@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
				h3 Core Functionality
				.picture
					img(src='/images/MicroSunApp/MicroSun_App15.jpg', srcset='/images/MicroSunApp/MicroSun_App15.jpg 1x, /images/MicroSunApp/MicroSun_App15@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App15@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
				h3 Motivational Statistics
				.picture
					img(src='/images/MicroSunApp/MicroSun_App16.jpg', srcset='/images/MicroSunApp/MicroSun_App16.jpg 1x, /images/MicroSunApp/MicroSun_App16@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App16@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
				h3 Inspiring Daily Feed
				.picture
					img(src='/images/MicroSunApp/MicroSun_App17.jpg', srcset='/images/MicroSunApp/MicroSun_App17.jpg 1x, /images/MicroSunApp/MicroSun_App17@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App17@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
			section#process.section
				h2 The Design Process
				p Design iterations and user testing
				.picture
					img(src='/images/MicroSunApp/MicroSun_App10.jpg', srcset='/images/MicroSunApp/MicroSun_App10.jpg 1x, /images/MicroSunApp/MicroSun_App10@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App10@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
				.picture
					img(src='/images/MicroSunApp/MicroSun_App11.jpg', srcset='/images/MicroSunApp/MicroSun_App11.jpg 1x, /images/MicroSunApp/MicroSun_App11@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App11@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
				.picture
					img(src='/images/MicroSunApp/MicroSun_App12.jpg', srcset='/images/MicroSunApp/MicroSun_App12.jpg 1x, /images/MicroSunApp/MicroSun_App12@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App12@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
			section.section
				h2 The Design Vision
				p Translating the brand's style guide into an app design roadmap
				.picture
					img(src='/images/MicroSunApp/MicroSun_App6.jpg', srcset='/images/MicroSunApp/MicroSun_App6.jpg 1x, /images/MicroSunApp/MicroSun_App6@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App6@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
				.picture
					img(src='/images/MicroSunApp/MicroSun_App7.jpg', srcset='/images/MicroSunApp/MicroSun_App7.jpg 1x, /images/MicroSunApp/MicroSun_App7@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App7@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
				.picture
					img(src='/images/MicroSunApp/MicroSun_App8.jpg', srcset='/images/MicroSunApp/MicroSun_App8.jpg 1x, /images/MicroSunApp/MicroSun_App8@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App8@2x.jpg 2x ', alt='Moodboard', height='auto', width='auto')
			section#projectNav.section.flex
				nav
					a(href='/portfolio/bloom') < Prev
				nav.right-align
					a(href='/portfolio/meddle') Next >
			section#contact
				ul
					li
						a(href='https://behance.net/mhmichelsen', target='_blank')
							img(src='/images/MHM-Icon_Behance.svg')
					li
						a(href='https://dribbble.com/mhmichelsen', target='_blank')
							img(src='/images/MHM-Icon_Dribbble.svg')
					li
						a(href='https://instagram.com/mhmichelsen', target='_blank')
							img(src='/images/MHM-Icon_Instagram.svg')
					li
						a(href='https://linkedin.com/in/mhmichelsen/', target='_blank')
							img(src='/images/MHM-Icon_LinkedIn.svg')
					li
						a(href='mailto:maria@michelsen.dk', target='_blank')
							img(src='/images/MHM-Icon_Email.svg')
			footer#footer.flex
				p.info © Maria Hagsten Michelsen, 2018. All Rights Reserved.
				a(href=' ')
					p.info.right-align Top
