@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* variables */
$font-primary: "Open Sans",Helvetica, sans-serif;
$font-accent: "Lato",Helvetica, sans-serif;
$licorice: #0D0000;
$snow: #FFFCF7;
$sunshine: #ffb526;
$faded: #958F8C;
$space-reg: 100px;


/* general – tags */
html {
    box-sizing: border-box;
    }  
    *, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
}

body {
  font-family: $font-primary;
  color: $licorice;
  background-color: $snow;
  font-weight:200;
  line-height: 1.5;
}
h1 {
	font-size: 3rem;
	margin: 0;
	font-weight: 300;
	@media (max-width: 800px) {
		font-size: 2rem;
	}
}
h1.splash {
	text-align: center;
	margin: $space-reg *2;
}
h2 {
	font-size: 2.5rem;
	letter-spacing: .065rem;
	line-height: 1.25;
	margin: 1rem 0;
	font-weight: 400;
}
h3 {
	font-size: 1.35rem;
	margin: $space-reg /3 0 0 0;
	font-weight: 300;	
}
h4 {
	font-size: 1rem;
	margin: $space-reg /2 0 0 0;
	font-weight: 400;
}
p.subtitle {
	font-size: 1.25rem;
	margin: 1rem auto;
	@media (max-width: 800px) {
		margin: .5rem 0;
	}	
}
p {
	font-family: $font-primary;
	font-size: .9rem;
	font-weight: 200;
	margin-top: .25rem;
	line-height: 2;
}
a {
	text-decoration: none;
	color: $licorice;
}
a:hover {
	color: $sunshine;
}
ul {
	list-style-type: none;
	line-height: 2;
}
b {
	font-family: $font-accent;
	font-weight: 900;
}
.center {
	text-align: center;
}
.info /* used for tags */{
	font-size: .75rem;
	color: $faded;
	font-weight: normal;
}
.right-align {
	text-align: right;
}
ul.tags {
	padding: 0;
	line-height: 2;
	li {
		display: inline;
		padding-right: $space-reg /4;
		white-space: nowrap;
	}
}
.top {
	padding-top: $space-reg /4;
}
p.quote {
	font-family: $font-accent;
	font-size: 1rem;
	font-weight: 500;
	padding-left: -50px;
}
p.source {
	font-family: $font-accent;
	font-size: 1rem;
	font-weight: bold;
	text-align: right;
}
/* Buttons */
button:hover {
	border: 3px solid $licorice;
	color: $sunshine;
}
.CTA_high {
	font-size: 1.125em;
	color: $licorice;
	text-transform: uppercase;
	font-weight: bold;
	background-color: transparent; 
	border: 3px solid $sunshine;
	border-radius: 5px;
	margin-top: 2em;
	padding: 1.25em 4em;
    @media (max-width: 800px) {
        padding: 1rem;
    }
}
.CTA_medium {
	font-family: $font-accent;
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
	color: $licorice;
	align-items: center;
	// border-bottom: 3px solid ;
	font-weight: 600;
	text-transform: uppercase;
}
.CTA_low {
	font-family: $font-accent;
	font-size: .85rem;
	text-align: center;
	text-decoration: none;
	color: $licorice;
	align-items: center;
	font-weight: 400;
	text-transform: uppercase;
}
/* Images */
.picture {
	width: inherit;
	height: 100%;
	margin: 2rem auto 0 auto;
	text-align: center;
}
img {
	width: 100%;
}
.w100 {
	width: 100%;
}
.w80 {
	width: 80%;
	@media (max-width: 800px){
		width: 100%;
	}	
}
.w50 {
	width: 50%;
}
.w40 {
	width: 40%;
}
.w30 {
	width: 30%;
}
.w20 {
	width: 20%;
}
.w10 {
	width: 10%;
}
figcaption {
	font-size: .75;
	color: $faded;
	text-align: left;
	font-style: italic;
	margin-bottom: 2.5rem;
}
.right {
	float:right;
	max-width: 50%;
	margin: 1rem 0 1.5rem 1rem;
	@media (max-width: 600px) {
		float: none;
		max-width: 100%;
		margin: 1rem auto;
	}
}
.left {
	float:left;
	max-width: 50%;
	margin: 1rem 2rem 1.5rem 0;
	@media (max-width: 700px) {
		float: none;
		max-width: 100%;
		margin: 1rem auto;		
	}	
}
.inline {
	display: inline;
	margin: 0 .5rem 0 0;
	max-height: 2rem;
	max-width: 1rem;
	vertical-align: middle;
}
.smallhide /* used to hight content on smaller screens */{
	@media (max-width: 600px) {
		display: none;
	}
}
video {
	width: 100%;
}
.clip {
	clip-path: circle(50% at 50% 50%);
}

/* Flex */
.flex {
	display: flex;
    div, ul, picture, nav {
        flex:1;
	}
	.picture {
		padding: 0 1rem;
		margin: 0;
	}
    img{
		max-width: 70%;
		max-height: 100%;
		padding: 0;
	}
	h3, h4 {
		margin: 0;
	}
	@media (max-width: 700px) {
		display: block;
		margin: 1rem 0;
		div, ul, picture, nav {
			flex: none;
		}
	}
}
/* header + navigation bar */
#header{
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	padding: 2.5rem 2.5rem;
	.navigation {
		float:right;
		a {
			margin-left: $space-reg /3;
		}
	}
	@media (max-width: 1024px) {
		padding: 1rem 1rem;
		background: $snow;
		a {
			padding: 0 1rem 0 0;
		}
	}	
}
/****** Block Elements ******/
hr.line {
	border-top: 3px solid $licorice;
	border-style: solid;
}
.feature{
	width: 100vw;
	left: 0;
	background-color: $snow;
	padding: $space-reg $space-reg *3.5;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
	@media (max-width: 800px) {
		padding: $space-reg /4;
	}
	h2 {
		flex: 1;
		max-width: 200px;
		margin: 1rem 0;
	}
	p, ul, blockquote {
		max-width: 500px;
	}
}
.section {
	max-width: 700px;
	margin: $space-reg /2 auto;
	@media (max-width: 1100px) {
		margin: $space-reg /2 2rem;
	}
	@media (max-width: 550px) {
		margin: $space-reg /4 1rem;
	}
}
#projectNav {
	display: flex;
	margin: $space-reg auto;
	nav {
		flex: 1;
	}
	a {
		color: #A29B8D;
	}
	@media (max-width: 550px) {
		margin: $space-reg /2 1rem;
	}
}
#testimonials {
	@media (max-width: 1024px) {
		margin: 2.5rem;
	}
}
.recommendation {
	margin: 2.5rem 1.5rem;
}
/****** Landing Page Specific ******/
#arrow {
	position: absolute;
	width: 6vw;
	right: 38%;
	top: 0;
	z-index: 100;
	@media (max-width: 600px) {
		width: 20vw;
		right: 48%;
	}	
}
#hero {
	position: absolute;
	width: 30vw;
	right: $space-reg *1.75;
	top: 0;
	flex: 1;
	img#alterego {
		max-width: 30vw;
		margin: 0px;
	}
    @media (max-width: 1024px) {
		right: $space-reg;
		top: 3rem;
	}	
}
#intro {
	height: 100vh;
	max-height: 800px;
	padding: $space-reg /2 $space-reg;
	#descrip{
		padding: $space-reg *1.5 $space-reg;
		#elevator{
			font-size: 1.75rem;
			font-weight: light;
			max-width: 40vw;
		}
		.line {
			background-color: #ffb526;
			height: 10px;
			width: 100px;
			margin: 4rem 0;
        }       
	}
    @media (max-width: 1024px) {
		padding: 2rem 1rem 1rem 1rem;
		max-height: 700px;		
        #descrip {
			padding: 10rem 1rem 1rem 5rem;
			#elevator {
                font-size: 1.125rem;
            }
        }
	}
    @media (max-width: 600px) {
        padding: 2rem 1rem 1rem 1rem;
        #descrip {
			padding: 4rem 1rem 1rem 10rem;
			#elevator {
                font-size: 1.125rem;
            }
        }
	}
    @media (max-width: 350px) {
        padding: 2rem .5rem .5rem .5rem;
        #descrip {
			padding: 2rem 1rem 1rem 8rem;
			#elevator {
                font-size: 1rem;
            }
        }
    }	
}

/* portfolio list */
#portfolio{
	position: relative;
	padding: $space-reg /2 $space-reg *2;
	// background: white;
	@media (max-width: 1024px) {
        padding: 1rem;
    }
	@media (max-width: 800px) {
        padding: .5rem;
    }
}	
.cover {
	height: 100%;
	overflow: hidden;
	img {
		max-width: 100%;
		transition: all 0.5s ease;
		@media (max-width: 800px) {
			max-height: 100%;
		}
	}
}
// .cover:hover img {
// 	-moz-transform: scale(1.1);
// 	-webkit-transform: scale(1.1);
// 	transform: scale(1.1);
// }	
.project{
	position: relative;
	max-width: 100%;
	max-height: 800px;
	left: 0;   
	margin: $space-reg *3 auto $space-reg *4 auto;
	.info_left {
		padding: $space-reg /2 0 $space-reg /2 $space-reg /2;
		width: 50%;
	}
	.info_right {
		padding: $space-reg /2 0 $space-reg /2 $space-reg /2;
		width: 50%;
		text-align: right;
	}	
	@media (max-width: 1024px) {
		padding: 1rem;
		.project {
			margin: 1rem;
		}
	}    
	@media (max-width: 800px) {
		padding: 0;
		margin: 5rem .5rem .5rem .5rem;
		.info_right {
			width: 100%;
			text-align: left;
		}
	}
}

/* Outro */
#outro {
	// max-width: 50%;
	padding: $space-reg $space-reg *2;
	#goodbye{
		padding:$space-reg /3 $space-reg 0 $space-reg /2;
		h1 {
			margin-top: $space-reg;
		}
		#thanks{
			font-size: 2rem;
			font-weight: light;
		}  
	}
    @media (min-width: 1500px) {
		// max-height: 700px;
		padding: 6rem;
		margin: 8rem 6rem;
	}	
    @media (max-width: 1024px) {
		padding: 2.5rem;
		max-height: 700px;
		#goodbye {
			padding: 1rem;
		}
	}
    @media (max-width: 700px) {
		padding: .5rem;
		#goodbye{
			padding: 1rem;
			h1 {
				margin-top: 0;
			}
		}
	}
}


/****** Footer ******/
#contact {
	padding: 0 auto;
	width: 80vw;
	margin: .25rem auto;
	ul {
		margin: $space-reg /2 auto;
		padding: 0;
		text-align: center;
	}
	ul li {
		display: inline;
		padding: $space-reg /2;
		img {
			height: 30px;
			width: 30px;
		}
	}
	@media (max-width: 1024px) {
		ul {
			margin: 1rem auto;
		}
		ul li {
			padding: 1rem;
		}
	}	
	@media (max-width: 600px) {
		ul {
			margin: 1rem;
		}
		ul li {
			display: block;
			padding: 1rem;
		}
	}
}
#footer {
	display: absolute;
	margin: 0 $space-reg /2;
	padding: $space-reg /3 $space-reg *1.5;
	p.info {
		flex:1;
	}
	a {
		margin: 0;
	}
	@media (max-width: 1024px) {
		margin: 2rem;
		padding: 1rem;
	}
	@media (max-width: 800px) {
		margin: 1rem;
		padding: 1rem;
		p.info {
			font-family: .5rem;
			margin: 1rem 0;
		}
	}
}

/****** Portfolio Pages ******/

.title {
    padding: $space-reg *2 $space-reg *2 $space-reg /4 $space-reg *2;
    h1 {
        font-size: 4rem;
    }
    @media (max-width: 800px){
        padding: $space-reg 2rem 1rem 2rem;
    }
}
h3.bloom {
    color: #228F9B;
    font-weight: 400;
}
.white {
	background-color: white;
}