doctype html
html(lang='en')
	include ../../templates/head.pug
	body.white
		section#project
			picture
				img(src='/images/Bloom/coverWide.png')
			section.section.title
				#bloom.description
					h1 Reinventing Investing
					p.subtitle – a case study about the creation of the investment app Bloom
			section#problem.section.top
				h2.h2part The Problem
				p
					| Most people are scared to invest. When they do, they often lose their money. Just ask the average investor, who earns 2.6% per year.
				.picture
					img(src='/images/Bloom/AverageInvestorChart.svg')
					figcaption
						| 20-year annualized returns by asset class (1998 – 2017). Source: J.P. Morgan Asset Management
				p
					| Why? There’s a high learning curve to understanding how to value stocks as businesses.
				p
					| Investors today rely on charts, their peers, and the news to determine whether a stock is a right buy. Current financial apps overwhelm you with tons of financial metrics. Financial news apps stream minute by minute news updates, expecting you to know what to do.
				p
					| Successful investors know their companies and industries deeply. Even for them, it still requires arduous research to understand a company’s financials, strategy, and valuation.
			section.section
				h2.h2part The Solution
				p
					| Facing this problem, we asked ourselves — how can we help the 86% who don’t invest today? How do we help more people invest in the best ideas? How do we help them take part in the wealth creation from innovation?
				p
					| Whatever we do, it has to build trust. It needs to protect you and do what’s in your best interest, not your brokers’. Next, it has to be simple. The stock market is a financial opportunity that should be available for everyone. Finally, it has to promote growth. We want to guide our users on the path to financial success.
				p
					| So we followed these principles, and we built something brand new. Bloom helps you do three things:
				.flex.top
					div
						.picture
							img(src='/images/Bloom/FindCompany.svg')
							p
								b Invest in Great Companies
								br
								| Find market leaders and invest in companies based on your beliefs.
					div
						.picture
							img(src='/images/Bloom/Knowledge.svg')
							p
								b Understand the Stock
								br
								| Invest using financial data and company strategy.
					div
						.picture
							img(src='/images/Bloom/Invest.svg')
							p
								b Grow as an Investor
								br
								| Learn exactly how to find high-quality stocks.
				p.top 
					| The following is a case study of the design process from the preliminary understanding of our users needs over product ideations and wireframing to building the product.
			section.feature.flex
				h2.h2part My Role
				ul
					li
						b UX/UI Design
						|  – created design solutions in wireframe and high-fidelity prototypes.
					li
						b Visual Design
						|  – developed the product's brand identity, including illustrations and style guide system.
					li
						b User Research
						|  – conducted quantitative and qualitative user interviews with the target audience.
					li
						b Empathy + Storytelling
						|  – utilized user journeys, storyboarding, and personas to ensure that the key customer's needs were fully understood and taken into account in all design decisions.
					li
						b Cross-Functional Leadership
						|  – collaborated closely with Engineers and Product Managers.
			section.section.top
				h2.h2part The Design and Development Process
				p
					| For our design process, we chose to follow the Design Thinking process because it is human-centered, solution-focused, flexible, iterative and fits well with the agile methodology.
				.picture.w80
					img(src='/images/Bloom/DesignThinking.svg')
					figcaption The steps of the Design Thinking Process
				h3.bloom Empathize – Research & User Interviews
				p
					| For any product, the most crucial factor for a robust design foundation is to understand the users and their needs. To get a better understanding of which users would benefit the most from a new investment tool, we conducted research to establish our target audience.
				h4 Defining the Target Audience
				p
					| Research showed that Millennials by far was the group of people who were holding back on investing:
				.flex
					div
						blockquote
							p.quote “66% of Millennials say investing in the stock market is scary or intimidating.”
							p.source – Ally Financial survey
						blockquote
							p.quote
								| “42% of Millennials are investing conservatively, compared with 38% of Generation X investors and 23% of baby boomers.”
							p.source – Fidelity survey
					div
						blockquote
							p.quote
								| “Millennials hold 25% of their investments in cash, compared to 19% of investors overall.”
							p.source – Charles Schwab & Co
						blockquote
							p.quote
								| “Some Millennials may be putting their retirement security at risk by shying away from stocks now.”
							p.source – Forbes
				p
					| Therefore, in our search to define our core target audience, we decided to focus on Millennials with a range from people with little to intermediate experience with investing. The next step was to interview this group to get a better understanding of their needs and restrictions.
				h4 User Interviews & Persona Development
				p
					| I conducted qualitative user interviews with the target audience to get a better understanding of their investments needs, goals, and experience. I also included interviews with people who had higher investment experience to give me insight into which kind of skills we would like our users to develop using our product.
				p
					| From the collected data I distilled the user interviews into 4 specific personas that represent our target audience:
				.flex.top
					.picture
						img(src='/images/Bloom/Persona1.svg')
						p
							b Nina the Newbie
							br
							| New to investing and seeking a way to learn more and to figure out how to start investing.
					.picture
						img(src='/images/Bloom/Persona2.svg')
						p
							b Comfy Carl
							br
							| An intermediate investor, who feels insecure about investing and who fears he will emotionally based investments.
				.flex.top
					.picture
						img(src='/images/Bloom/Persona3.svg')
						p
							b Diligent Dana
							br
							| A more experienced investor, who is seeking a way to invest in better companies based on beliefs.
					.picture
						img(src='/images/Bloom/Persona4.svg')
						p
							b Alex Advisor
							br
							| A professional investor looking for investment tools to recommend to less proficient investors.
				p.top
					| For our MVP we would focus on Carl and Dana as our core users while keeping both Nina and Alex in mind to ensure future scalability in the product functionality.
				h4 Storyboarding & User Journeys
				p
					| I utilized user journeys and storyboarding for each of our defined personas to ensure that our key customer's needs were fully understood and taken into account in all design decisions.
				.picture.w50
					img(src='/images/Bloom/Carl_story.gif')
				h3.bloom.top Defining the Problem
				p
					| What are the issues that are holding Millennials back from investing? In the next step in our process, we dived more into this question to investigate and define what the underlying issues were behind the problem.
				h4 Brainstorming & Issue Tree
				p
					| Based on the research and the conducted user interviews, we held a team brainstorming session where we used different techniques to uncover the core issues. I collected our findings in an issue tree, which would give us a solid foundation on which to base our solution ideation.
				.picture.w80
					img(src='/images/Bloom/Define.svg')
					figcaption Issue tree of the blockers that are holding Millennials back from investing
				h3.bloom Ideation
				p
					| Now that we had a better understanding of what the issues are that are holding Millennials back from investing, it was time to start exploring ideas for a product that could help alleviate as many of these issues as possible.
				h4 Brainstorming
				p
					| Using the issue tree, we started exploring possible solutions. We let our minds run free to ensure that no idea was left unturned – even the idea of a comforting drone was on the table at some point.
				.flex
					.picture.smallhide
						img(src='/images/Bloom/Post-its-1.jpg')
					.picture.smallhide
						img(src='/images/Bloom/Post-its-2.jpg')
					.picture
						img(src='/images/Bloom/Post-its-3.jpg')
				p
					| We sorted our solution ideas according to the issues and looked into which ideas could be combined into a single product. Multiple approaches were explored until we found a product, which key features we believed could bring substantial value to our target audience.
				.picture.w80
					img(src='/images/Bloom/ideation.svg')
					figcaption Solution ideation which lead to the final product idea.
				h3.bloom Prototype - Test – Repeat
				p
					| Using the iterative process, we moved on to the product development. I provided lo-fi and hi-fi wireframes as well as interactive prototypes that we continuous used to test our solutions on users to ensure that we were building the right product and that the user flow was as smooth as possible.
				.picture.w80
					img(src='/images/Bloom/ProductionFlow.svg')
					figcaption The iterative development flow
				p
					| For example, in the beginning, our vision was to have a explore page which included two explorative features: search and curated categories. Over time usability testing showed us that having 2 functionalities on one screen created confusion and made the screen appear too cluttered. In the first design release, the two features were, therefore, split into two separate entities accessible from the bottom navigation bar.
				.picture.w80
					img(src='/images/Bloom/ExploreEvolution.png', srcset='/images/Bloom/ExploreEvolution.png 1x, /images/Bloom/ExploreEvolution@0.5x.png 0.5x, /images/Bloom/ExploreEvolution@2x.png 2x ', alt='Moodboard', height='auto', width='auto')
					figcaption The evolution of the Discover page based on usability testing
			section.section
				h2.h2part Visual Design
				p
					| The visual design of the product was guided by two sets of core values, which would ensure consistency across the product and that all design decisions were based on the same guidelines. The value sets are:
				p 
					b Bloom's Product Philosophy:
				ul
					li
						b Trust
						|  – We do what's in your best interest, not your bankers'.
					li
						b Growth
						|  – We help you become a better investor.
					li
						b Simplicity
						|  – Accessible for any skill level.
				p
					b Bloom's Brand Design Spine:
				ul
					li
						b Vision
						|  – Development is driven by strong insight into the user base and the future.
					li
						b Principles
						|  – Things should be built by the principles that govern a user's lives
					li
						b Lovable
						|  – The product should delight and inspire. It's not something off the shelf.
				h3 Logo
				p
					| The logo mark is inspired by the core of Bloom's name: the blooming of a flower. As a flower blooms its petals grow bigger and brighter in hue. In the same manner, the three blooming spheres of Bloom grows bigger and brighter in color representing the user as he or she grows their investment skills.
				.picture.w80
					img(src='/images/Bloom/logo.svg')
				p
					| The three spheres' shapes are repeated in the three round spaces in the b and o's of the text mark. The overall shapes are kept organic to further underline the blooming feel of the brand, while square edges build in a harmonious contrast in the overall logo.
				h3 Color Palette and Typography
				p
					| The color palette was picked to make the product stand out compared to the competition by using a warm petrol blue as the primary color and contrasting it with lively orange. A range of black, white and gray tones are used to add a more neutral base to the palette. Red and green are crucial colors for adding visual information cues to the user about positive and negative trends in a stock's information.
				.flex.top
					.picture
						img(src='/images/Bloom/Colors.svg', height='350')
					.picture
						img(src='/images/Bloom/Type.svg', height='350')
				p
					| Maven Pro and Roboto Condensed are used as the typographical pair in the design system. Maven Pro is chosen for it's warm and organic appearance, which matches well with Bloom's core values. It is used for heading. Roboto Condensed is selected because it's more strict and straightforward appearance provides an excellent contrast to Maven Pro. It is, furthermore, very legible and suitable for displaying digits, which is an essential factor in an investment app. It is used for paragraphs and all other textual elements.
				h3 Illustrations
				p
					| I chose to use illustrations for all visual elements. It makes the brand stand out compared to competitors who either avoids visual content or use stock photos.
				.picture
					img(src='/images/Bloom/Illustrations.svg')
				h2 The Product
				h3 The Onboarding Flow
				.picture
					img(src='/images/Bloom/Onboarding.svg')
				h3 The App
				.picture
					img(src='/images/Bloom/App.svg')
			section.feature.flex
				picture.w20.left
					img.clip(src='/images/Bloom/Eric.jpeg') 
				blockquote.quote
					p
						| &quot;I have worked extensively with Maria on Bloom, where she has developed our product visuals, brand, and UX as a phenomenal designer. Her work has helped us create lasting first impressions of our products that convey delight and trust.
					p.top
						| Maria is measured, delightful, and comprehensive as a designer. Her design approach is very systematic, which helps break down open-ended projects and create designs that are reusable and extensible throughout our entire product. Her illustrations give our product charm and whimsy. <br/><br/>Besides that, she isn't attached to her work, a critical must for a good designer. She knows good design comes from the mockups and ideas that never see the light of day. I can trust her to explore and polish every aspect of a design, and come back with solutions toward the sole goal of making the product better.&quot;
					p.source
						| Eric Xiao<br/>Founder, Bloom
		section#projectNav.section.flex
			nav
				a(href='/#portfolio') Back to Works
			nav.right-align
				a(href='/portfolio/meddle') Next Case Study →
	include ../../templates/footer.pug
