doctype html
html(lang='en')
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# : http://ogp.me/ns/fb/#")		
		include ../../templates/head.pug
		meta(property="og:image" content="/static/images/Meddle/Meddle_rebranding_cover.jpg" /)
	body.white
		section#project
			picture.full
				img(src='/static/images/Bloom/Bloom_cover.png', srcset='/static/images/Bloom/Bloom_cover.png 1x, /static/images/Bloom/Bloom_cover@2x.png 2x' alt='')
			section#bloom.section.title
					h1 Reinventing Investing
					p.subtitle Research shows that millennials are investing far less than the previous generations. This might hurt them greatly in the long run. However, the learning curve is steep and good tools are missing from the market. <br/>The new investment app Bloom takes on the challenge and this is the story of its creation.<span class="faded">*</span>
					p.faded.small.top * This is an overview presentation, for a more in-depth case study continue reading on <a class="CTA-medium underline faded" href='https://medium.com/@mhmichelsen/reinventing-investing-ef7a1d490ac3', target=' '>Medium</a>.
			section#problem.section
				hr.line-right
				div.box
					div.flex-auto
						p.item.center <b>Vision</b> <br/><span class="splash2 bloomblue">Empower people to become better investors.</span>
					div.flex2.top
						p.item.center <b>Team structure </b> <br/><span class="faded small">Product manager, researcher, product designer, and software engineer.</span>
						p.item.center <b>My role as product designer </b> <br/><span class="faded small">UX, UI and interaction design. <br/>Branding and visual design.</span>
					div.flex2.top
						p.item.center <b>Product </b> <br/><span class="faded small">App for iOS and Android.
						p.item.center <b>Time </b> <br/><span class="faded small">2018-2019.						
				hr.line-left
				h2.h2part-bloom Finding solutions through empathy
				p.subtitle2 We utilized research, interviews, personas, and storyboarding to understand our users. Based on our finding I led a brainstorming session where we found a solution that would address the main issues that were holding millennials back from investing: fear, lack of knowledge, and lack of appeal. 
				hr
				picture.picture.top
					img.shadow(src='/static/images/Bloom/Bloom_Diverge.png', srcset='/static/images/Bloom/Bloom_Diverge.png 1x, /static/images/Bloom/Bloom_Diverge@2x.png 2x' alt='')
					figcaption.top <b class="splash3">Qualitative interviews.</b> Issue tree based on interviews that led us to a better understanding of what was holding millennials back from investing.
				hr
				picture.picture
					img.shadow(src='/static/images/Bloom/Bloom_Brainstorming_Converge.jpg', srcset='/static/images/Bloom/Bloom_Brainstorming_Converge.jpg 1x, /static/images/Bloom/Bloom_Brainstorming_Converge@2x.jpg 2x' alt='')
					figcaption.top <b class="splash3">Brainstorming session.</b> Photos from a workshop led by me and an issue tree showing our journey to our product concept for a new investing app.
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_Personas.png', srcset='/static/images/Bloom/Bloom_Personas.png 1x, /static/images/Bloom/Bloom_Personas@2x.png 2x' alt='')
					figcaption.top <b class="splash3">Bloom’s personas</b> as a spectrum from beginner to pro. Our target audience is Comfy Carl and Diligent Dana. While the others are kept in mind to ensure future scalability in the product functionality.
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_storyboard.jpg', srcset='/static/images/Bloom/Bloom_storyboard.jpg 1x, /static/images/Bloom/Bloom_storyboard@2x.jpg 2x' alt='')
					figcaption.top <b class="splash3">Storyboarding.</b> Comfy Carl’s story as told in a storyboard, which helped us visualize how we wanted our users to feel when they use our product.
				hr
				picture.picture
					img.shadow(src='/static/images/Bloom/Bloom_prototyping.png', srcset='/static/images/Bloom/Bloom_prototyping.png 1x, /static/images/Bloom/Bloom_prototyping@2x.png 2x' alt='')
					figcaption.top <b class="splash3">Prototypes for testing.</b> As we started exploring and building specific features, we continuously tested our solutions on potential users using prototypes. Low-fidelity prototype were made in Balsamiq and and I build high-fidelity prototypes in Adobe XD.
				h2.h2part-bloom Building the Brand
				p.subtitle2 Since the primary product aim was to tackle fear, knowledge, and appeal, I focused on creating a brand that is calming, trustworthy, and engaging. For the user interface and visual design, I focused on simplicity, clarity, and delight.
				hr
				picture.picture
					img.shadow(src='/static/images/Bloom/Bloom_Brandboard.png', srcset='/static/images/Bloom/Bloom_Brandboard.png 1x, /static/images/Bloom/Bloom_Brandboard@2x.png 2x' alt='')
					figcaption.top <b class="splash3">Brand board</b> showing the overall visual elements and tone of the brand.
				hr
				picture.picture
					img.shadow(src='/static/images/Bloom/Bloom_logo.png', srcset='/static/images/Bloom/Bloom_logo.png 1x, /static/images/Bloom/Bloom_logo@2x.png 2x' alt='')
					figcaption.top <b class="splash3">Bloom logo and text mark.</b> The logo mark was inspired by our name. As a flower blooms, its petals grow bigger and brighter in hue. In the same manner, the three spheres of Bloom grow bigger and brighter as our users become better investors. The rounded shapes of the logo is repeated in the text mark which gives it an approachable feel, while the square edges adds a trustworthy base to the name.
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_colors.svg')
					figcaption.top <b class="splash3">Color palette.</b> I selected the primary colors, a warm blue and a lively orange, to differentiate Bloom from the more anemic branding of the competition. Red and green are crucial colors for adding visual information cues to the user about major positive and negative trends. To make the product feel calming and easier to scan, I added a mid-tone grey as indicator for minor trends.
				hr
				picture.picture
					img.shadow(src='/static/images/Bloom/Bloom_typography.png', srcset='/static/images/Bloom/Bloom_typography.png 1x, /static/images/Bloom/Bloom_typography@2x.png 2x' alt='')
					figcaption.top <b class="splash3">Typography.</b> I chose Helvetica Now Display and Text. They are both built on Helvetica, which is widely familiar. This lends the fonts a sense of trustworthiness and transparency. With the typefaces’ new design it is made slightly more contemporary and is adapted to perform better on screens.
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_iconography_illustrations.png', srcset='/static/images/Bloom/Bloom_iconography_illustrations.png 1x, /static/images/Bloom/Bloom_iconography_illustrations@2x.png 2x' alt='')
					figcaption.top <b class="splash3">Iconography and illustrations.</b>  For the user interface, I designed icons that are minimalistic but still have a personality. I created illustrations intended to enable moments of delight in the app and to increase engagement with marketing content.
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_Design_System.png', srcset='/static/images/Bloom/Bloom_Design_System.png 1x, /static/images/Bloom/Bloom_Design_System@2x.png 2x' alt='')
					figcaption <b class="splash3">Bloom’s Design System.</b> I built a design system to ensure consistency across the product, the tools, and to keep track of design decisions.
				h2.h2part The Product
				p.subtitle2 With continuous ideation Bloom has changed a lot over time and we continue to improve by collaborating closely with our users. The core mission has stayed the same: to empower users to become better investors. To do so we use simplicity, transparency, curation, and machine learning.
				picture.picture
					img(src='/static/images/Bloom/Bloom_app.png', srcset='/static/images/Bloom/Bloom_app.png 1x, /static/images/Bloom/Bloom_app@2x.png 2x' alt='')
					figcaption A selection of screens from the final product
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_flow_map.png', srcset='/static/images/Bloom/Bloom_flow_map.png 1x, /static/images/Bloom/Bloom_flow_map@2x.png 2x' alt='')
					figcaption.top <b class="splash3">App flow map.</b> I created a flow Map that helps the team keep the big picture in mind. Using it with the team led to crucial conversations like realizing that we were neglecting development on the watchlist page, despite it receiving the most user focus. Based on this we adjusted our focus area.
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_watchlist.png', srcset='/static/images/Bloom/Bloom_watchlist.png 1x, /static/images/Bloom/Bloom_watchlist@2x.png 2x' alt='')
					figcaption.top <b class="splash3">The Watchlist.</b> From prototype to ideation to final product. The feature gives the user quick insights into the status of the stocks and ETFs they are following. Using a neutral color for the change tag makes major changes stand out and thereby making the page feel calmer and easier to digest.
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_Stock_graph.png', srcset='/static/images/Bloom/Bloom_Stock_graph.png 1x, /static/images/Bloom/Bloom_Stock_graph@2x.png 2x' alt='')
					figcaption.top <b class="splash3">The Graph.</b> From sketched prototypes to ideation to final product. Over time, we experimented with its size and information density.
				hr
				picture.picture
					div#bloom-newsongraph-transformation-wrapper
					figcaption.top <b class="splash3">News on Graph.</b> With this feature, we create a much requested visual link between the most impactful news and the changes in the stock. To do so, we use machine learning to filter out the most impactful news and display them for easy access on the graph.				
				hr
				picture.picture
					img.shadow(src='/static/images/Bloom/Bloom_overview_content_exploration.png', srcset='/static/images/Bloom/Bloom_overview_content_exploration.png 1x, /static/images/Bloom/Bloom_overview_content_exploration@2x.png 2x' alt='')
					figcaption.top <b class="splash3">The Bottom Line.</b> Iconography exploration and final product. This feature enables users to see the health of a stock at a glance. Today the feature is called "Bottom Line,” and it has undergone multiple iterations both regarding design and content. One of these explorations was to find the right iconography to use for the indicators.
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_overview_final.png', srcset='/static/images/Bloom/Bloom_overview_final.png 1x, /static/images/Bloom/Bloom_overview_final@2x.png 2x' alt='')
					figcaption.top <b class="splash3">Educational layer with definition of key terms.</b> Overall, we aim to keep the use of investment lingo down. However, many concepts cannot be easily communicated in everyday language. To help the user grow their investment knowledge, we supply them with additional information.
				hr
				picture.picture
					img(src='/static/images/Bloom/Bloom_News_explorations.png', srcset='/static/images/Bloom/Bloom_News_explorations.png 1x, /static/images/Bloom/Bloom_News_explorations@2x.png 2x' alt='')
					figcaption.top <b class="splash3">Handling the news.</b> From ideation to final product. More trustworthy and informative news content was a common wish from the users we interviewed. Therefore, the news section in Bloom is curated and we  use machine learning to categorize the news to enable the users to filter by impact.
			section.section.center.box
				p.splash2 Thank you for watching
				p.splash3 and check out Bloom in the app store
				a(href='https://getbloom.app/', target=' ')
					button.CTA_high Try out Bloom
			section.feature
				hr.line-right
				.recommendation
					picture.picture.top
						img.w80(src='/static/images/Bloom/Bloom_Eric.jpeg') 
					blockquote.item.top
						p.quote &quot;I have worked extensively with Maria on Bloom, where she has developed our product visuals, brand, and UX as a phenomenal designer. Her work has helped us create lasting first impressions of our products that convey delight and trust.
						p.quote.top Maria is measured, delightful, and comprehensive as a designer. Her design approach is very systematic, which helps break down open-ended projects and create designs that are reusable and extensible throughout our entire product. Her illustrations give our product charm and whimsy. <br/><br/>Besides that, she isn't attached to her work, a critical must for a good designer. She knows good design comes from the mockups and ideas that never see the light of day. I can trust her to explore and polish every aspect of a design, and come back with solutions toward the sole goal of making the product better.&quot;
						p.source Eric Xiao<br/>Founder, Bloom
				hr.line-left
		section#projectNav.section
			nav
				a(href='/#portfolio') Back to Works
			nav.right-align
				a(href='/portfolio/meddle') Next Case Study →
	include ../../templates/footer.pug
