doctype html
html(lang='en')
	include ./templates/head.pug
	body
		#arrow
			img#arrow(src='/static/images/Arrow.svg')
		section#intro.flex
			#descrip
				h1 Hi there!
				p#elevator Are you looking for user-centered design solutions based on curiosity, empathy and exploration? 
				a(href='https://linkedin.com/in/mhmichelsen/', target=' ')
					button.CTA_high Connect<span class="smallhide"> on LinkedIn</span>
				hr
				p.subtitle.center.top.bighide Selected works<br/>⬇
			#hero.smallhide
				img#alterego(src='/static/images/AlterEgo.svg')
		section#portfolio
			section#ghftx.project
				.cover.left
					div#gh-onboarding-image-wrapper
				div.project-info
					p.project-number
					h2.right-align.inactive Balancing delight and trust in fintech onboarding
					p.subtitle.right-align case study coming soon ...
			section#bloom.project
				.cover.right
					a(href='portfolio/bloom')
						img(src='/static/images/Bloom/cover.svg', srcset='/static/images/Bloom/cover.png 1x, /static/images/Bloom/cover@2x.png 2x', alt='Bloom cover image', height='auto', width='auto')
				a.project-info(href='portfolio/bloom')
					p.project-number Project 1 of 2
					h2 Reinventing Investing
					p.subtitle – a product design case study
			section#meddle.project
				.cover.left
					a(href='portfolio/meddle')
						img(src='/static/images/Meddle/Meddle_rebranding_portfolio_cover.png', srcset='/static/images/Meddle/Meddle_rebranding_portfolio_cover.png 1x, /static/images/Meddle/Meddle_rebranding_portfolio_cover@2x.png 2x', height='auto', width='auto')
				a.project-info(href='portfolio/meddle')
					p.project-number.right-align Project 2 of 2 
					h2.right-align Matching a Dating App with its Target Audience
					p.subtitle.right-align – a rebranding case study	
			section#testimonials
				h1 Testimonials
				.flex
					.recommendation
						picture
							img.clip.center-img(src='/static/images/Bloom/Bloom_Eric.jpeg') 			
						blockquote
							p.quote &quot;Maria is measured, delightful, and comprehensive as a designer. Her design approach is very systematic, which helps break down open-ended projects and create designs that are reusable and extensible throughout our entire product.&quot;
							p.source Eric Xiao<br/>Founder, Bloom		
					.recommendation
						picture
							img.clip(src='/static/images/Meddle/Meddle_Peter_Leonard.jpeg') 		
						blockquote
							p.quote &quot;Maria is a great listener, who made sure to understand my company's values and goals before producing any visuals. She's a lot of fun to collaborate with, always coming up with great ideas when we're stuck creatively.&quot;
							p.source Peter Leonard<br/>CEO, Meddle
		section#outro
			img.left.w40(src='/static/images/MHMprofile.jpg', srcset='/static/images/MHMprofile.jpg 1x, /static/images/MHMprofile@0.5.jpg 0.5x, /static/images/MHMprofile@2x.jpg 2x ', alt='Maria Michelsen profile picture', height='auto', width='auto')
			div#goodbye
				h1 Hi again, 
				p.splash Thanks for visiting.
				p.name.right-align <i>Maria Hagsten Michelsen</i> <br/>– Product Designer, San Francisco					
	include ./templates/footer.pug
