doctype html
html(lang='en')
	include ./templates/head.pug
	body
		//- include ./templates/header.pug
		//- header#header
		//- 	a#logo(href='/')  <img src="/images/M.svg" class="Mlogo"><sup class="bio"> a Product Designer in San Francisco</sup>
		//- 	nav.navigation
		//- 		a.CTA_medium(href='#portfolio') Works
		//- 		a.CTA_medium(href='about') About
		//- 		a.CTA_medium(href='#contact') Contact
		#arrow
			img#arrow(src='/images/Arrow.svg')
		section#intro.flex
			#descrip
				h1 Hi there!
				p#elevator
					| Are you looking for user-centered design solutions based on curiosity, empathy and exploration? 
				a(href='https://linkedin.com/in/mhmichelsen/', target=' ')
					button.CTA_high Connect
			#hero.smallhide
				img#alterego(src='/images/AlterEgo.svg')
		section#portfolio
			section#bloom.project
				.cover.left
					a(href='portfolio/bloom')
						img(src='/images/Bloom/cover.png', srcset='/images/Bloom/cover.png 1x, /images/Bloom/cover@0.5x.png 0.5x, /images/Bloom/cover@2x.png 2x ', alt='Bloom cover image', height='auto', width='auto')
				a.info_right(href='portfolio/bloom')
					p.info Project 1/3 – Product Design Case Study
					h2 Making investing <br/>more understandable <br/>for DYI investors
					p.subtitle Bloom Investing
			section#Microsun.project
				.cover.right
					a(href='portfolio/microsun')
						img(src='/images/MicroSunApp/MicroSun_App2.jpg', srcset='/images/MicroSunApp/MicroSun_App2.jpg 1x, /images/MicroSunApp/MicroSun_App2@0.5x.jpg 0.5x, /images/MicroSunApp/MicroSun_App2@2x.jpg 2x ', alt='MicroSun App cover image', height='auto', width='auto')
				a.info_left(href='portfolio/microsun')
					p.info Project 2/3 – Product Design Case Study
					h2 Empowering people <br/>to battle winter <br/>depression
					p.subtitle MicroSun App
			section#meddle.project
				.cover.left
					a(href='portfolio/meddle')
						img(src='/images/Meddle/coverWide.svg', srcset='/images/Meddle/Artboard1.png 1x, /images/Meddle/Artboard1@0.5x.png 0.5x, /images/Meddle/Artboard1@2x.png 2x ', alt='Meddle cover image', height='auto', width='auto')
				a.info_right(href='portfolio/meddle')
					p.info Project 3/3 – Branding + Animation
					h2 Outsourcing <br/>swiping to relieve <br/>dating fatigue
					p.subtitle Meddle Dating App
					//- ul.tags.info
					//- 	li UI Design
					//- 	li Visual Design
					//- 	li Branding
					//- 	li Animation
					//- a
					//- 	button.CTA_high See More						
			section#testimonials
				h1 Testimonials
				.flex
					.recommendation
						picture
							img.clip.w30(src='/images/Bloom/Eric.jpeg') 			
						p.quote &quot;Maria is measured, delightful, and comprehensive as a designer. Her design approach is very systematic, which helps break down open-ended projects and create designs that are reusable and extensible throughout our entire product.&quot;
						p.source
							| Eric Xiao<br/>Founder, Bloom		
					.recommendation
						picture
							img.clip.w30(src='/images/Peter_Leonard.jpeg') 		
						p.quote &quot;Maria is a great listener, who made sure to understand my company's values and goals before producing any visuals. She's a lot of fun to collaborate with, always coming up with great ideas when we're stuck creatively.&quot;
						p.source
							| Peter Leonard<br/>CEO, Meddle								
		section#outro
			//- #goodbye
			//- picture.left.smallhide
			img.left.w40.smallhide(src='/images/MHMprofile.jpg', srcset='/images/MHMprofile.jpg 1x, /images/MHMprofile@0.5.jpg 0.5x, /images/MHMprofile@2x.jpg 2x ', alt='Maria Michelsen profile picture', height='auto', width='auto')
			div#goodbye
				h1 Hi again, 
				p#thanks Thanks for visiting.
				p.source.top <i>Maria Hagsten Michelsen</i> <br/>– Product Designer, San Francisco					
	include ./templates/footer.pug
